### 기본 IDE ###
.idea/
*.iml
.vscode/
.classpath
.project
.settings/
.springBeans

### 빌드 및 배포 ###
build/
out/
bin/
*.jar
*.war
*.ear

### 환경 변수 및 인증 ###
*.json
*.env
application.yml
application-*.yml
secret.properties
local.properties

### 시스템 파일 ###
.DS_Store
Thumbs.db
*.log
*.bak
*.tmp
*.swp
*.swo

### 기타 ###
logs/
heapdump.hprof
hs_err_pid*
*.prof
